#page,#userListenGog,#userAuto
{
    background:url('../images/bg_page.jpg') repeat-x;
}
.pageLayer
{
   padding-top:50px;
   font-size:18px;
    text-align:center;
    margin:auto;
    
}
.pageAll
{
    width:100%;
    margin:auto;
           
}
.pageAll  .contentTitle
{
    font-size:24px;
    text-align:center;
    padding:15px 0px;
}
.contentImg
{
    width:80%;
    margin:auto;
    text-align:center;
}

.btn_userAuto
{
    width:100%;
    margin:15px auto;
    text-align:center;
}

.returnPage 
{
    padding:15px;
}
.returnPage a
{
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    text-decoration: none;
    color:#000;
}
.returnPage a span
{
    padding-right:3px;
    font-weight:bold;
    color:red; 
    font-size:16px;
}
.dialogContent
{
    width:80%;
    line-height:25px;
    margin:auto;
    font-weight:bold;
    font-size:16px;
    color:#000;
}
.dialogBtnSize
{
    width:220px;
    height:46px;
    cursor:pointer;
}
.dialogImgSize
{
    width:210px;
    height:176px;
}
.pageBtnSize
{
    width:290px;
    height:53px;
    cursor:pointer;
}
.useCount span
{
    color:#666;
    font-size:14px;
}
.divHidden
{
    overflow:hidden;
    font-size:14px;
    color:#000;
    font-weight:bold;
}
.dialogFont
{
    font-size:14px;
    color:#000;
    font-weight:bold;

}
